/**
Team members: Davin Win Kyi, Aditya`
*/


#student-matches, #teacher-matches {
  overflow: scroll;
}

body {
  text-align: center;
  /*font-family: Arial, Geneva, Helvetica, sans-serif;*/
  font-family: 'Maison Neue', sans-serif;
  height: 100vh;
  color: greenyellow;
}

#sp-1 {
  padding-top: 200px;
  font-family: 'Maison Neue', sans-serif;
  /*font-family: Arial, Geneva, Helvetica, sans-serif;*/
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  color: limegreen;
}

#title {
  vertical-align: 50%;
}

#sp-2 {
  color: white;
  font-family: 'Maison Neue', sans-serif;
  font-size: 30px;
  padding-top: 165px;
  font-family: Maison Neue, sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: limegreen;
}

#title {
  top: 50%;
  left: 10%
}


.hidden {
  display: none;
}

h1, h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#first-buttons {
  height: 500px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#first-buttons > button, #back-to-choose-student, #student-submit-button, #back-to-choose-teacher, #teacher-submit-button,
#back-to-student-question, #back-to-teacher-profile {
  outline-style: solid;
  border: 10px solid black;
  border-radius: 5px;
  padding: 2px;
  border-color: green;
  color: black;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;

  background-color: limegreen;
  border: 2px black;
}

#student-profile-1, #teacher-profile-1 /*, #student-matches-1, #teacher-matches-1 */{
  padding-top: 200px;
  font-family: 'Maison Neue', sans-serif;
  font-family: Arial, Geneva, Helvetica, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  color: limegreen;
}

#student-profile-2, #teacher-profile-2/*, #student-matches-2, #teacher-matches-2 */{
  color: white;
  font-family: 'Maison Neue', sans-serif;
  font-size: 30px;
  padding-top: 165px;
  font-family: Maison Neue, sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: limegreen;
}


#student-submit-button, #teacher-submit-button{
  height: 45px;
  width: 150px;
  font-family: Arial, Helvetica, sans-serif;
}

#back-to-choose-student, #student-submit-button, #back-to-choose-teacher, #teacher-submit-button {
  height: 40px;
  width: 200px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#student-profile {
  color: limegreen
}

.title {
  font-size: 35px;
}

#this will be for the cards
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 50px;
  color: white;
  background-color: limegreen;
}

.pill {
  outline-style: solid;
  border: 10px solid black;
  border-radius: 5px;
  padding: 2px;
  border-color: green;
  color: black;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;

  background-color: limegreen;
  border: 2px black;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#messaging-platform {
  color: limegreen;
}